* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #e1e1e1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 600px;
}

.container form label {
  font-size: 25px;
}
.container form input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #1e1e1e;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  color: #fff;
}

.container form select {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #1e1e1e;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  color: #e1e1e1;
}

.container form button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #505050;
  color: #e1e1e1;
  align-items: center;
  border: solid 1px;
  border-radius: 0.3rem;
  transition: 0.5s;
}

.container form button:hover {
  background-color: #1e1e1e;
}
